[Unit]
Description=Spacebar Kiosk browser
After=graphical-session.target spacebar-kiosk.service
Wants=spacebar-kiosk.service

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/__APP_USER__/.Xauthority
ExecStart=/usr/bin/chromium-browser --kiosk --noerrdialogs --disable-infobars --disable-session-crashed-bubble --check-for-update-interval=31536000 --use-gl=egl --ignore-gpu-blocklist --enable-gpu-rasterization http://127.0.0.1:8080
Restart=always
RestartSec=3
User=__APP_USER__
Group=__APP_USER__

[Install]
WantedBy=graphical.target
